<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/responsive.css">
    <title>WEB & ENGINEERING</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>

<body>
    <header>
        <div class="encabezado_fondo">
            <div class="capa_gradiente">
                <div class="contenedor_icono_config">
                    <button type="menu" class="toggle-btn" id="toggle-btn">&#9776;</button>
                    <a href="/"><i class="icono_home"></i></a>
                    <i class="icono_config" onclick="window.modal.showModal();"></i>
                </div>
                <div class="contenedor_descripcion">
                    <h1>WEB & INGENIERIA </h1>
                </div>
            </div>
            <nav>
                <a href="/Utilidades">Utilidades</a>
                <a href="/Topics_informaticos">Topics informaticos</a>
                <a href="/Proyectos">Proyectos</a>
                <a href="/Registro" class="active">Registro</a>
            </nav>
        </div>


    </header>
    <dialog id="modal">
        <h2>Este es el título de mi ventana modal</h2>
        <p>Este es un texto de ejemplo dentro de una ventana modal</p>
        <button onclick="window.modal.close();">Cerrar</button>
    </dialog>
    <main class="alineacion_principal">
        <article style="border: solid #99b50e43;">
            <div class="campo1">
                <h3 style="text-align: left; font-family: 'Times New Roman', Times, serif; padding-left:12px"> <u> Registro</h3></u>
                <p class="introduccion">
                    Soy Yuder Hernández, un apasionado mecatronico con
                    un amor muy grande por la creación y la innovación. A través de esta página, te invito a explorar mi
                    viaje en el mundo de la programacion y la ingenieria, compartiendo los proyectos que han dado forma
                    a mi experiencia.

                    ¡Espero que encuentres inspiración y disfrutes explorando las diversas facetas de mi trabajo! No
                    dudes en ponerte en contacto si tienes preguntas o si deseas colaborar en futuros proyectos.

                    ¡Gracias por visitar y espero que disfrutes tu recorrido por mi portafolio!

                </p>
                

            </div>
            <hr>
            <div class="campo1">

                <h4><a href="https://www.freepik.es/foto-gratis/vista-navegador-codigo-html-sitio-web-impresa-papel-blanco-vista-cerca_8487291.htm#page=5&query=programacion&position=33&from_view=search&track=sph&uuid=94c18520-3cb8-4496-a124-78e5ab8e12be">Imagen de lcd2020</a> en Freepik
                </h4>

            </div>



        </article>


    </main>
    <footer>
        <div class="elemento1_footer">
            <img class="image_footer" src="/image/footer/linkedin_member_70.webp" alt="linkedin">
            <img class="image_footer" src="/image/footer/whatsapp_square_icon_160767.webp" alt="whatsapp">
            <img class="image_footer" src="/image/footer/x_icon_256075.webp" alt="x">
        </div>
        <span>Enero 2024</span>

    </footer>


    <script src="responsive.js">
    </script>

</body>

</html>