@media screen and (max-width: 540px) {
    nav {
      display: none;
      /* Oculta el menú cuando la resolución es menor o igual a 620px */
  
    }
  
    .toggle-btn {
      position: relative;
      left: -75%;
      display: inline-block;
      align-content: left;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  
    nav.show {
      display: flex;
      flex-direction: column;
      height: auto;
  
    }
  
    a.show {
      font-size: larger;
    }

    .encabezado_fondo{
        width: 100%;
        max-width: 380px;
    }

  }



  @media screen and (max-width: 370px) {
    nav {
      display: none;
      /* Oculta el menú cuando la resolución es menor o igual a 620px */
  
    }
  
    .toggle-btn {
      position: relative;
      left: -70%;
      display: inline-block;
      align-content: left;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  
    nav.show {
      display: flex;
      flex-direction: column;
      height: auto;
  
    }
  
    a.show {
      font-size: larger;
    }

    .encabezado_fondo{
        width: 100%;
        max-width: 350px;
    }

  }